
<html>

    <center>
        <h1>Predict Species</h1>
        <body style="background-color:#9cbb3f;">
            <h2>
            <form action="/predict" method="post"><br><br>
                SepalLengthCm: <input type="text" name = "SepalLengthCm"   placeholder="Enter Sepal Length (Cm)"><br><br>
                SepalWidthCm: <input type="text" name="SepalWidthCm" placeholder="Enter Sepal Width (Cm)"><br><br>
                PetalLengthCm: <input type="text" name="PetalLengthCm" placeholder="Enter Petal Length (Cm)"><br><br>
                PetalWidthCm: <input type="text" name="PetalWidthCm" placeholder="Enter Petal Width (Cm)"><br><br>

                <input type="Submit" value="Predict">
            </form>
        </h2>
        </body>
    </center>


</html>

